@import "variables";

//Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

$insetShadow : inset 0px 4px 4px rgba(0, 0, 0, 0.25);


//mobile temp fixes 
@include media-breakpoint-down(md){

.projectCarousel{
  display: flex;
  overflow: scroll;

}
.investorShowcaseWrapper .investorShowcase {
  overflow-x: scroll;
  justify-content: start!important;
 }

}

.userProfile{
  .projectCarousel{
    justify-content: center;
  }
}


html,
body,
#root,
.App {
  max-width: 100vw;
  height: 100%;
  background: #f8f9fa!important;
  text-align: center;
  overflow-x: hidden;
 
}

h2 {
  text-align: center;
}

/* Tokenstart 2.0 */
@include media-breakpoint-up(lg){
.App {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 48px auto 100px;
}
}
.navbar {
  z-index: 1;
  background-color: $lightgrey;
  border-bottom: 2px solid black;
  .nav-link {
    font-weight: 800;
  }
}

.navs {
    display: inline-flex;
}

button, .btn{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

}

.main-view {
  //min-height: 600px;
  margin-top: 1em;
  grid-row: 2 / 4;
}

// .card {
//   max-width: 20em;
// }

//create Project Page
form{
  .card {
    max-width: none;
  }
}




.sidebar {
  background-color: $lightgrey;
  border-right: 2px solid black;
  grid-row: 1 / 5;
}

.sidebarUserImage{
  background-image: url(https://images.unsplash.com/photo-1573878221136-9b03f3d976b7);
  background-position: center;
  height: 105px;
  width: 105px;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  

}

.sidebside {
  display: inline-flex;
}

.sidebar-menu{
  list-style: none;
  padding-left: 0;
}

/* Search */
.navbar {
  form {
    max-width: 10em;
  }
}
.searchField{
  position: relative;
  z-index: 3;
  width: 10em;
  text-align: center;
}

.searchResults{
  width: 20em;
  list-style: none;
  background-color: white;
  z-index: 4;
  img {
    max-width: 50px;
  }
}

.searchResults li{
  list-style: none;
  border-bottom: 2px solid black;
  text-align: left;
  padding: 0.5em;
}

.searchResults li:hover{
  background-color: $lightgrey;
}

.searchResults ul{
  padding-left: 0;
}

.focusCatch {
  position: absolute;
left: -500%;
    right: -500%;
    height: 200vh;
  margin-top: -200px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.desktopSearch {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20em;
}

// Investor showcase

.investorShowcaseImage {
  background-image: url(https://images.unsplash.com/photo-1573878221136-9b03f3d976b7);
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
}

.investorShowcaseWrapper {
  background: $orange;
  box-shadow: $insetShadow;
  .investorShowcase {
    display: flex;
    justify-content: space-around;
    // .investorShowcaseImage {
    //   background-image: url(https://images.unsplash.com/photo-1573878221136-9b03f3d976b7);
    //   background-position: center;
    //   height: 200px;
    //   width: 200px;
    //   border-radius: 100%;
    //   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    //   background-size: cover;
    // }
  }
}

//User Page
.ourBox {
  background: #C4C4C4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.investor-profile-box-wrapper{
  .investor-profile-box{
    background: #FFFFFF;
  }
}

.ReactChart {
  background: whitesmoke;
}






/* Allgemeine Klassen */
.tal{
  text-align: left;
  margin-left:20px;
  margin-right:20px
}

#equity-heading{
 color: rgb(230, 24, 24);
}
.spaceBetween {
  justify-content: space-between;
}

.footer {
  grid-row: 4;
  grid-column: 2;
  background-color: $lightgrey;
  border-top: 2px solid black;
}

.card-img-top{
  content: "";
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position-x: center;
  min-height: 250px;
  max-height: 200px;
  min-width: 100%;

  position: relative;
}

.card{
  content: "";
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position-x: center;
  //max-height:300px;
  max-width: 300px;;
  width: auto;
  height: auto;

  position: relative;
}
.carousel-card-body{
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


#projectCard {
  min-width: 20rem;
}

#Featured\ Projects{
  text-align: left;
}

@include media-breakpoint-up(lg){
.projectCarousel {
  max-width: calc(100vw - 200px);
  cursor: grab; 
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow-x: auto;
  text-align: center;
  justify-content: space-between;
}

.projectBottomSection{
  max-width: calc(100vw - 210px);
}


}
.projectBottomSection{
  display: flex;
  overflow-x: scroll;
  min-height: 400px;
}

// Exchange Page
table {
  background: white;
}

.last-offer-cell{
  .up{
    color: green;
    &:after{
      content: " ↑";
    }
  }
  .down {
    color: red;
    &:after{
      content: " ↓";
    }
  }
}



// Project Page
.projectHero {
  justify-content: space-evenly;
  h4 {
    margin-left: 10px;
    text-align: left;
  }
  p {
    text-align: right;
  }
}


.progress-bar-wrapper{
  content: " ";
}

.progress-bar {
  background-color: $orange;
  height: 20px;
  max-width: 233px;
  content: " ";
}

.margin0a{
  margin: 0 auto;
}


//Projects List
.tokenIcon {
  max-height: 45px;
}

.iconCell {
  padding: 0 !important;
  display: grid;
  place-items: center !important;
}




/* 
p {
  overflow-wrap: anywhere;
}


@media only screen and (min-width: 600px){
/* Nav Bar 
#desktopNavigationBar{
  display: inline-flex!important;
}

}

/* #root>div {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
} 

#root>div>div:nth-child(1)>nav.navbar.bg-light.\.justify-content-center {
  border-bottom: 1px solid black;
}

#collapseExample>input {
  text-align: center;
}

#root>div>header>nav {
  width: 100%;
}

#root>div>header>div {
  width: 100%;
}

#root>div>div:nth-child(1)>nav.navbar.bg-light.\.justify-content-center>a {
  margin: 0 auto;
  color: black;
  font-family: 'Russo One', sans-serif;
}

#root>div>div:nth-child(1)>nav.navbar.bg-light.\.justify-content-center>a>p>span {
  color: rgb(16, 124, 34);
}

#root>div>div:nth-child(1)>nav.navbar.bg-light.\.justify-content-center>a>p {
  font-size: 50px;
  font-family: 'UbuntuItalic'; 
    color: rgb(0, 0, 0);
}

.margin0a {
  margin: 0 auto;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 0;
}

#navbarNavDropdown>ul>li:nth-child(4)>a>img {
  margin: auto;
  width: 4vh;
  height: 4vh;
  background: blue;
  border-radius: 50%;
}

#featuredProject {
  max-width: 400px;
}

.mainContent {
  padding-bottom: 2em;
}

#root>div>div.mainContent.container-fluid>div {
  justify-content: space-evenly;
}

#recommendation-list>ul>li>div>div:nth-child(1)>img {
  max-width: 7em;
  text-align: center;
}


#recommendation-list>ul {
  color: black;
}

#recommendation-list>ul>li>div {
  display: inline-flex;
}

#recommendation-list>ul>li>div>div:nth-child(2) {
  padding-left: 20px;
}

#featuredProject {
  /* grid-column: 2;
  grid-row: 2; */
  /* margin: 0 auto; 
  background: white;
  color: black;
}

#recommendation-list {
  /* grid-row: 2;
  grid-column: 3; 
  text-align: left;
  min-height: 250px;
}


#root>div>div.footer>footer {
  background: lightgrey;
  border-bottom: 1px solid white;

}

#root>div>div.footer>footer>div.footer-copyright.text-center.py-3 {
  background: lightgrey;
}

#root>div>div.footer>footer>div.container.text-center.text-md-left>div>div:nth-child(n+1) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* Project Page 
#root>div>div>div.projectInfo>div:nth-child(4) {
  border: 0.5px solid black;
}

#projCTA {
  border: 2px solid black;
  margin: 0 auto;
}

#progress {
  width: 67%;
  height: 1em;
  background: green;
}

#info {
  padding: 2em;
  text-align: left;
}

#featuredProject>ul>li>div>div.row.align-text-center.justify-content-center,
#info>div {
  justify-content: space-evenly !important;
}

/* Project Info type nav 
#navbarNavDropdown>ul {
  justify-content: space-around;
}

/* Form style 
form label,
.form input {
  display: block;
}

form input {
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.2rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
}

form input:focus {
  border: 1px solid #256ee4;
  box-shadow: inset 0px 0px 5px #5a7eb8;
  outline: none;
}

.tableDiv {
  overflow-x: auto;
}

/* Project Page 
#carouselExampleControls>div {
  background: #dcdcdc;
  border: 2px solid #dcdcdc;
  border-radius: 25px;
}

#carouselExampleControls > div > div > div {
  padding-right: 0;
  padding-left: 0;
}

.projectAction {
  justify-content: space-evenly;
}


@media screen(max-width: 300px) {
  html {
    background: "red";
  }
}

/* Project Carousel 

#projectCard {
  width: 18rem;
  margin: 0 auto;
  /* max-height: 400px; 
  overflow-x: hidden;
}

#projectCarousel {
  /* cursor: grab; 
  display: inline-flex;
  overflow-x: scroll;
  max-width: 100%;
}

#otherProjects .card {
  min-width: 20rem;
}

/* Crypto Card 

.cryptoCardImg {
  max-height: 10rem;
  width: auto;
}

@media (min-width: 768px) {
  .cryptoCardImg>img {
    height: 100% !important;
    width: auto !important;
  }
}

.cryptoCardImg>img {
  height: 5rem;
  width: auto;
}

#root>div>div:nth-child(2)>form>div:nth-child(1)>div>div>div.card-body {
  padding: 0;
}

.card .cryptoCard:not(.selected) {
  opacity: 0.5;
}

.tokenIcon {
  max-height: 45px;
}

.iconCell {
  padding: 0 !important;
  display: grid;
  place-items: center !important;
}

.founderImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.centerCards {
  display: inline-flex;
  justify-content: space-evenly;
}

.founderCard {
  max-width: 250px;
}

.list-group-item {
  padding: 0.75rem 0 0.75rem 0;
}

#projectCard {
  min-width: 250px;
}

*/
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* horizontal Cards 

.horizontalCardLeftProject{
  display: grid;
  grid-template-rows: 25% auto 25%;
}


.horizontalCardRightProject{
  display: grid;
  grid-template-rows: 15% 15% 1fr auto;
  border-left: 2px solid grey;
}

.horizontalCard {
  margin: 0.7em;
  display: grid;
  grid-template-columns: 30% auto;
  padding: 0.5em;
  border-left: 2px solid green;
  border: 1px solid grey;
  box-shadow: /* 0px 2px .5em black; 
          5px 2px .7em black;
}

.horizontalCardLeft {
  display: grid;
  grid-template-rows: auto 25%;
}

.horizontalCardRight {
  display: grid;
  grid-template-rows: 15% 15% 1fr 1fr auto;
  border-left: 2px solid grey;
  padding-left: 1em;
  text-align: left;
}

.TokenModel {
  width: 5em;
  height: 5em;
  background: rgb(245, 221, 83);
  border: 2px solid black;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
  border-radius: 5em;
  margin: 0 auto;
  grid-row: 1;
}

.tokenModel1 {
  width: 5em;
  height: 5em;
  background: rgb(245, 221, 83);
  border: 2px solid black;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
  border-radius: 5em;
  margin: 0 auto;
  grid-row: 2;
}

.tokenIcon {
  margin-top: 0.8em;
}

/* .TokenModel > p {
  margin: 0 auto;
  vertical-align: middle;
  text-align:center;
  left:10%;
  position:relative; 
  display:table-cell;
} */

/* .TokenModel > p {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 2em;
  font-weight: bold;
  margin: 0;
} 

.noMargin {
  margin: 0;
}

#navbarNavDropdown>ul {
  justify-content: space-between;
}

#root > div > div:nth-child(1) > nav.navbar.navbar-expand.navbar-light.bg-light {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.view {
  margin: auto;
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: auto;
  /* border: 1px solid black; 
  white-space: nowrap;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  padding: 1em;
  background-color: #f8f9fa!important;
}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 100px;
}

/* Search 

.searchField{
  position: relative;
  z-index: 3;
  width: 20em;
  text-align: center;
}

.searchResults{
  width: 20em;
  list-style: none;
  background-color: white;
  z-index: 4;
}

.searchResults li{
  list-style: none;
  border-bottom: 2px solid black;
  text-align: left;
  padding: 0.5em;
}

.searchResults li:hover{
  background-color: lightgrey;
}

.searchResults ul{
  padding-left: 0;
}

.focusCatch {
  position: absolute;
left: -500%;
    right: -500%;
    height: 200vh;
  margin-top: -200px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.desktopSearch {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 20em;
}

/* upload image 
#imgViewer{
  max-width: 250px;
}


.textJustify{
  text-align: justify;
}

.card-img-top{
  content: "";
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position-x: center;
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
}






 */

