@font-face {
 font-family: 'UbuntuItalic', 'CovesBold';
 src: local('UbuntuItalic'), url(./components/fonts/UbuntuItalic.ttf) format('truetype');
 src: local('CovesBold'), url(./components/fonts/UbuntuItalic.ttf) format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'UbuntuItalic', 'CovesBold', 'Segoe UI', 'Roboto', 'Oxygen',
   'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


